# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontendServer/node_modules
/styleguideServer/node_modules
/ReactApp/node_modules
/node_modules
/.pnp
.pnp.js
/db
# testing
/coverage

# IDE
/.vscode

# production

!/build/frontend/
/build/frontend/*
!/build/styleguide/
/build/styleguide/*
package-lock.json
/venv
/epics/base
/epics/support

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
launch.json
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc
*.crt
*.pem
*.secure
*.csr
*.cer
*.key

epics/testIOC/configure/O.*/
epics/testIOC/iocBoot/iocexample/envPaths
epics/testIOC/iocBoot/ioctestIOC/envPaths
epics/testIOC/dbd/testIOC.dbd
epics/testIOC/testIOCApp/Db/O.*/
epics/testIOC/testIOCApp/src/O.*/
epics/testIOC/bin/
epics/testIOC/bin/
epics/*.gz
epics/*.local

__pycache__/

!/styleguide
/styleguide/*

!/styleguide/build/
/styleguide/build/*

.env
pvServer/userAuthentication/SECRET_PWD_KEY
pvServer/userAuthentication/SECRET_KEY
pvServer/userAuthentication/USERS

epics/gateway/GATEWAY.access
epics/gateway/GATEWAY.command
epics/gateway/GATEWAY.pvlist

users/users.json
users/pvAccess.json
users/SECRET_PWD_KEY
