Flask==0.12.2
Flask-Login==0.4.0
Flask-Session==0.3.1
Flask-SocketIO==4.1.0
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
pyepics==3.4.0
PyJWT==1.7.1
python-dotenv==0.10.3
python-engineio==3.8.2
python-socketio==4.2.0
six==1.9.0
Werkzeug==0.12.2
