Flask==2.0.1
Flask-Session==0.4.0
Flask-SocketIO==5.1.1
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pyepics==3.4.3
PyJWT==1.7.1
python-dotenv==0.10.3
python-engineio==4.2.1
python-socketio==5.4.0
six==1.16.0
Werkzeug==2.0.1
bcrypt==3.1.7
pymongo==3.11.2
flask-cors==3.0.10
python-ldap==3.3.1
google-api-python-client==1.12.0
